.scores {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.player1,
.player2 {
  width: 230px;
  white-space: nowrap;
}
.scores p {
  font: 20px "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
  margin: 0 15px;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: center;
}

.scores .score {
  font-size: 50px;
  display: block;
  height: 60px;
  padding: 10px 0 0 0;
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: center;
}
