.square {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: calc(450px / 3);
  height: calc(450px / 3);
  font-size: 121px;
  color: #111;
  background-color: #fff;
  border: 1px solid #aaa;
}
