.board-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.board {
  width: 450px;
}

.board-heading {
  margin-top: 0;
  margin-bottom: 8px;
  font: 700 18px / 1.618 sans-serif;
  list-style-type: none;
}

.board-row {
  display: flex;
  flex-flow: row wrap;
}

.board-heading {
  margin-top: 0;
  margin-bottom: 8px;
  font: 700 18px / 1.618 sans-serif;
  list-style-type: none;
}

.board-history {
  margin-left: 18px;
}

.board-history-list {
  padding: 0;
  list-style-type: none;
}

.board-footer {
  width: 100%;
}
